/*
http://monokai.9x4.net/
このサイトでmonokaiテーマのカラーを確認できるよ
*/

html {
  scroll-behavior: smooth;
}

body {
  color: #1E1E1E;
}



li {
  list-style: none;

}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0.1px;
  left: 0.1px;
  color: #fff;
  background-color: rgba(34, 49, 52, 0.9);

}

.header a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header-logo {
  color: #fff;
  float: left;
  font-family: 'Signika Negative', sans-serif;
  font-size: 36px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 150px;
}

.header-return  {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  /* transitionを指定してください */
  transition: all 0.5s;

}

.header-return a {
  line-height: 80px;
  padding: 0px 25px;
  color: white;
  display: block;
}

.header-return:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*
.header-return a {
  font-family: 'Sawarabi Gothic', sans-serif;
  width: 40px;
  height: 80px;
  float: right;
  font-size:
  padding: 8px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 65px;
}
*/
.header-return div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-list ul {
  font-family: 'Sawarabi Gothic', sans-serif;
  padding-bottom: 500px;
}

.header-list li {
  float: left;
  padding: 25px 20px;
  padding-top: 10px;
}

.main {
  padding: 100px 80px;
  background-color: 	#E6E6E6;
  height: 7000px;
}

.copy-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 140px;
  padding: 20px;
}

.copy-container h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid #B0C4DE
}

.copy-container span {
  color: #ff4a4a;
}


/*
.table-of-contents a {
  text-decoration: none;
  color: #1E1E1E;
    font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
}

.table-of-contents p {

}

.table-main li {
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Noto Sans JP', sans-serif;
}

.table-sub li {
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}
*/

.table-of-contents {
  border: solid 5px #B0C4DE;
  border-radius: 3px;
  padding-left: 40px;

  padding-bottom: 20px;
}

.table-of-contents {
  margin-bottom: 150px;
  margin-top: 100px;
}

.table-of-contents h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 40px;
  padding-left: 10px;
  border-left: 5px solid #1E1E1E;

}

.table-main:hover {
  border-bottom: solid 1px #1E1E1E;
  opacity: 0.7 ;
}

.table-sub:hover {
  border-bottom: solid 1px #1E1E1E;
  opacity: 0.7 ;
}

.table-main  {
  text-decoration: none;
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
}

.table-sub  {
  text-decoration: none;
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}


.contents h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 40px;
  padding-left: 10px;
  border-left: 5px solid #1E1E1E;
}

.contents h4 {
  font-family: 'Noto Sans JP', sans-serif;

  font-weight: lighter;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 150px;
  border-left: 3px solid #1E1E1E;


}

.contents p {
  font-size: 25px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.pink {
  color: #f92672;
}

.green {
  color: #a6e22e;
}

.orange {
  color: #fd971f
}

.blue {
  color: #66d9ef;
}

.purple {
  color: #ae81ff;
}

.yellow {
  color: #e6db74;
}

.contents pre {
  background-color: #272822;
  border-radius: 10px;
  border: 5px solid #5e5e5e;
  margin-bottom: 60px;
}

.contents code {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;

  color: #fff;
}










.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 36px;
  font-family: 'Signika Negative', sans-serif;
}

.footer-list {
  float: right;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 20px

}

.footer-list li {
  padding-bottom: 10px;
}
